<h2 class="text-4xl text-gray-500 text-center p-4">Search Meal By Name</h2>
<form class="flex flex-col" [formGroup]="form" (submit)="submit()">
    <div class="pt-6 px-6">
        <input appAutoFocus class="p-3 rounded border-2 border-gray-200 w-full" formControlName="search" type="text"
            placeholder="Search Meal..." />
            
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
        <app-meal-item *ngFor="let meal of meals$ | async" [meal]="meal"></app-meal-item>
    </div>
</form>